body {
	min-width: 260px;

}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

footer {
	border-top: 1px solid #ccc;
	width: 100%;
	height: 200px;
	bottom: 0;
	margin-top: 50px;
	text-align: center;
	padding-top: 30px;
	color: #282828;
}

.center-box {
	margin: 0 auto;
	float: none;
}

.form-container {
	min-width: 440px;
}

.page-title {
	font-family: 'Oswald', sans-serif;
	line-height: 70px !important;
    font-size: 60px;
    line-height: 50px;
    margin: 20px 0 60px;
    letter-spacing: -1px;
    color: #ff6347;
}


/*.loading {display: none;}*/


#regular_wrapper {
/*	display: none;*/
}
#regular_login {
    margin-bottom: 25px;
}

.oauth_container > ul li a {
	display: block;
	width: 34px;
	height: 34px;
    margin-bottom: 25px;
}
.oauth_container .cim_facebook {
    background: url(/assets/images/themes/bootstrap3/facebook.png);
}
.oauth_container .cim_twitter {
    background: url(/assets/images/themes/bootstrap3/twitter.png);
}
.oauth_container .cim_google {
    background: url(/assets/images/themes/bootstrap3/google_plus.png);
}
.oauth_container .cim_linkedin {
    background: url(/assets/images/themes/bootstrap3/linkedin.png);
}
.oauth_container .cim_github {
    background: url(/assets/images/themes/bootstrap3/github.png);
}
.oauth_container .cim_flickr {
    background: url(/assets/images/themes/bootstrap3/flickr.png);
}
.oauth_container .cim_tumblr {
    background: url(/assets/images/themes/bootstrap3/tumblr.png);
}
.oauth_container .cim_windowslive {
    background: url(/assets/images/themes/bootstrap3/windowslive.png);
}
.oauth_container .cim_instagram {
    background: url(/assets/images/themes/bootstrap3/instagram.png);
}
.oauth_container .cim_paypal {
    background: url(/assets/images/themes/bootstrap3/paypal.png);
}
.oauth_container .cim_soundcloud {
    background: url(/assets/images/themes/bootstrap3/soundcloud.png);
}

#oauth_login_wrapper {
    margin-bottom: 25px;
}


.recaptcha-wrapper {
	margin-top: 30px;
	margin-bottom: 30px;
}


.log_out {
	padding-left: 20px;
    padding-right: 20px;
}

.bullet_list li:before {
    content: "\2192";
    color: #ff6347;
    padding-right: 3px;
}

#pwd_error {
	margin-top: 30px;
}

/* Register, create account
 --------------------------------------------------------------------------------------------- */
.check_is_nok:before {
    content: "\e107 ";
    font-family: 'Glyphicons Halflings';
    font-size: 14px;
    margin-right: 6px;
    color: tomato;
    /*line-height: 20px;
    padding-left: 20px;
    background: url(/assets/images/delete.png) no-repeat 0 2px;*/
}

.check_is_ok:before {
    content: "\e013 ";
    font-family: 'Glyphicons Halflings';
    font-size: 14px;
    margin-right: 6px;
    color: limegreen;
    /*line-height: 20px;
    padding-left: 20px;
    background: url(/assets/images/edit.png) no-repeat 0 2px;*/
}
