body {
    width: 5760px;
    height: 1080px;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

#mainCanvas {
    width: 5760px;
    height: 1080px;
    border:1px solid black;
}

#JOBO-CPP3 {
    position: absolute;
    top: 300px;
    left: 400px;
}