/* text */
body {
    width: 5760px;
    height: 1080px;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: Arial;
    font-weight: 600;
    color: #494949;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    text-align: center;
}

p {
    font-size: 20px;
}

/* canvas */
.Canvas-Container {
    position: absolute;
}

#mainCanvas {
    width: 5760px;
    height: 1080px;
    border: 1px solid black;
}

/* divs and blocks */
.infoScreen {
    position: absolute;
    top: 400px;
    height: fit-content;
    margin: 20px;
    margin-top: 2px;
    padding: 8px;
    border: solid 1px gray;
    border-radius: 8px;
    background-color: #DAAD86;
    width: 93%;
    box-shadow: 6px 6px 8px;
    width: 720px;
}

.close {
    display: inline-block;
    position: absolute;
    left: 712px;
    top: 0px;
    font-size: 30px;
    cursor: pointer;
}

.infoScreen h1 {
    text-align: center;
    margin: 20px;
}

.infoScreen > img {
    float: right;
    border: 0.1rem solid black;
    margin: 0rem 1rem 1rem 0.5rem;
    height: auto;
    width: 250px;
}

#JOBO-CPP3 {
    position: absolute;
    top: 300px;
    left: 400px;
}

#Marrutt-Dryer {
    position: absolute;
    left: 1650px;
    top: 100px;
    width: auto;
    height: 1000px;
}

#DE-Vere-504-Enlarger {
    position: absolute;
    left: 2620px;
    top: 100px;
    width: auto;
    height: 700px;
}

#Trays {
    position: absolute;
    left: 4290px;
    top: 600px;
    width: auto;
    height: 200px;
}