@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-add70:before {
	content: "\e000";
}
.flaticon-arrow486:before {
	content: "\e001";
}
.flaticon-check7:before {
	content: "\e002";
}
.flaticon-clock96:before {
	content: "\e003";
}
.flaticon-coin12:before {
	content: "\e004";
}
.flaticon-comments8:before {
	content: "\e005";
}
.flaticon-dark:before {
	content: "\e006";
}
.flaticon-delete30:before {
	content: "\e007";
}
.flaticon-delete81:before {
	content: "\e008";
}
.flaticon-edit45:before {
	content: "\e009";
}
.flaticon-favourites7:before {
	content: "\e00a";
}
.flaticon-headphone4:before {
	content: "\e00b";
}
.flaticon-heart297:before {
	content: "\e00c";
}
.flaticon-i9:before {
	content: "\e00d";
}
.flaticon-left207:before {
	content: "\e00e";
}
.flaticon-link23:before {
	content: "\e00f";
}
.flaticon-list31:before {
	content: "\e010";
}
.flaticon-machine2:before {
	content: "\e011";
}
.flaticon-magnifier12:before {
	content: "\e012";
}
.flaticon-more6:before {
	content: "\e013";
}
.flaticon-movie36:before {
	content: "\e014";
}
.flaticon-multiple25:before {
	content: "\e015";
}
.flaticon-musical:before {
	content: "\e016";
}
.flaticon-next:before {
	content: "\e017";
}
.flaticon-play14:before {
	content: "\e018";
}
.flaticon-previous2:before {
	content: "\e019";
}
.flaticon-small36:before {
	content: "\e01a";
}
.flaticon-small65:before {
	content: "\e01b";
}
.flaticon-song:before {
	content: "\e01c";
}
.flaticon-star174:before {
	content: "\e01d";
}
.flaticon-vertical3:before {
	content: "\e01e";
}
.flaticon-warning39:before {
	content: "\e01f";
}
